{% extends 'base.html' %}
{% load static %}
{% load templatehelpers %}

{% block title %} Freelancers | {% endblock %}

{% block content %}

    <!-- Spacer -->
    <div class="margin-top-90"></div>
    <!-- Spacer / End-->

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Left Side -->
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">

                    <form method="get">
                        <!-- Keywords -->
                        <div class="sidebar-widget">
                            <h3>Keywords</h3>
                            <div class="input-with-icon">
                                <div id="autocomplete-container">
                                    <input id="search-freelancer" name="search" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <!-- Hourly Rate -->
                        <div class="sidebar-widget">
                            <h3>Rate</h3>
                            <div class="margin-top-30"></div>

                            <!-- Range Slider -->
                            <input class="range-slider" name="rate" type="text" value=""
                                   data-slider-currency="$" data-slider-min="10" data-slider-max="1000"
                                   data-slider-step="5" data-slider-value="[10,1000]"/>
                        </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Skills</h3>
                            <select class="selectpicker default" multiple data-selected-text-format="count"
                                    data-max-options="5" name="skills"
                                    data-size="7" data-live-search="true" title="Select skills..">
                                <optgroup label="Web Dev">
                                    <option>Angular</option>
                                    <option>React</option>
                                    <option>Vue</option>
                                    <option>Bootstrap</option>
                                    <option>CSS</option>
                                    <option>Html</option>
                                    <option>JavaScript</option>
                                </optgroup>
                                <optgroup label="Software Dev">
                                    <option>C#</option>
                                    <option>C++</option>
                                    <option>Java</option>
                                    <option>Python</option>
                                    <option>Php</option>
                                    <option>Ruby</option>
                                    <option>Objective-C</option>
                                    <option>Swift</option>
                                </optgroup>
                                <optgroup label="Graphic & Design">
                                    <option>Logo Design</option>
                                    <option>Game Design</option>
                                    <option>PhotoShop Editing</option>
                                    <option>Banner Ads</option>
                                    <option>Business Card</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="sidebar-widget">
                            <button type="submit" class="button ripple-effect full-width">Search</button>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>

            <!-- Right Side -->
            <div class="col-xl-9 col-lg-8 content-left-offset">


                <div class="notify-box margin-top-15">
                    <div class="switch-container">
                        <h4 class="page-title">Search Results</h4>
                    </div>

                    <div class="sort-by">
                        <span>Sort by:</span>
                            <select name="sortBy" onchange="location = this.value;"
                                    class="selectpicker hide-tick">
                                <option {% if "sortBy=oldest" in request.get_full_path %} selected {% endif %} value="{% relative_url 'oldest' 'sortBy' request.GET.urlencode %}">Oldest</option>
                                <option {% if "sortBy=newest" in request.get_full_path %} selected {% endif %} value="{% relative_url 'newest' 'sortBy' request.GET.urlencode %}">Newest</option>
                            </select>
                    </div>
                </div>


                 {% if freelancers %}
                    <!-- Freelancers List Container -->
                    <div class="freelancers-container freelancers-list-layout margin-top-35">
                        {% for freelancer in freelancers %}
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="{% url 'freelancer_profile' freelancer.id %}">
                                                {% if freelancer.user.profileImg %}
                                                    <img src="{{ freelancer.user.profileImg.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="No-Image" />
                                                {% endif %}

                                            </a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4>{{ freelancer.user.first_name }} {{ freelancer.user.last_name }}</h4>
                                            <span>{{ freelancer.tags }}</span>
                                            <!-- Rating -->
                                            <div class="freelancer-rating">
                                                <div class="star-rating" data-rating="{{ freelancer.calculate_rating }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong>
                                                <i class="icon-material-outline-location-on"></i>
                                                {{ freelancer.country }}</strong>
                                            </li>
                                            <li>Rate <strong>${{freelancer.rate}} / hr</strong></li>
                                            <li>Job Success <strong>{{ freelancer.calculate_success_rate|floatformat:"0" }}%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="{% url 'freelancer_profile' freelancer.id %}"
                                       class="button button-sliding-icon ripple-effect">View Profile <i
                                            class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                        {% endfor %}
                    </div>
                    <!-- Freelancers Container / End -->
                 {% else %}
                    <div class="margin-top-30 margin-bottom-10">
                        <p style="text-align-last: center">Currently no freelancers is available.</p>
                    </div>
                 {% endif %}

                <!-- Pagination -->
                <div class="clearfix"></div>
                {% if freelancers.has_other_pages %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-40 margin-bottom-60">
                                <nav class="pagination">
                                    <ul>
                                        {% if freelancers.has_previous %}
                                            <li class="pagination-arrow"><a href="?{% relative_url freelancers.previous_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                         {% endif %}

                                        {% for i in freelancers.paginator.page_range %}
                                            {% if freelancers.number == i %}
                                                <li><a href="javascript:" class="current-page ripple-effect">{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="{% relative_url i 'page' request.GET.urlencode %}" class="ripple-effect">{{ i }}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                        {% if freelancers.has_next %}
                                        <li class="pagination-arrow"><a href="{% relative_url freelancers.next_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                {% else %}
                    <div class="margin-top-90"></div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}