{% extends 'base.html' %}
{% load static %}

{% block title %} Freelancer Profile | {% endblock %}

{% block content %}
<!-- Title bar -->
<div class="single-page-header freelancer-header" data-background-image="{% static 'images/single-freelancer.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar">
                            <img src="{% if profile.user.profileImg %}
						            {{ profile.user.profileImg.url }}
						            {% else %}
						            {% static 'images/user-avatar-placeholder.png' %}
						        {% endif %} " alt=""></div>
						<div class="header-details">
							<h3>{{ profile.user.first_name }} {{ profile.user.last_name }}<span>{{profile.tags}}</span></h3>
							<ul>
								<li><div class="star-rating" data-rating="{{ profile.calculate_rating }}"></div></li>
								<li>{{ profile.country }}</li>
                                <li>Viewed: {{ profile.views.count }}</li>
{#								<li><div class="verified-badge-with-title">Verified</div></li>#}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Content -->
<div class="container">
	<div class="row">

		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<!-- Page Content -->
			<div class="single-page-section">
				<h3 class="margin-bottom-25">About Me</h3>
				<p>{{ profile.introduction }}</p>
			</div>

			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> Work History and Feedback</h3>
				</div>
                {% if work_history %}
                    <ul class="boxed-list-ul">
                     {% for work in work_history %}
                         {% if work.rating != 0 %}
    					    <li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>{{work.task.title}}</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="{{ work.rating }}"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i>{{ work.updated_at|date }}</div>
								</div>
								<div class="item-description">
									<p>{{ work.comment }}</p>
								</div>
							</div>
						</div>
					</li>
                             {% else %}
                             <div class="margin-top-30">
                                <span>Currently employer did not gives any review.</span>
                             </div>
                         {% endif %}
				    {% endfor %}
				    </ul>
                {% else %}
                    <div class="margin-top-30">
                        <span>Currently no work is done.</span>
                    </div>
                {% endif %}

				<!-- Pagination  TODO: Create pagination-->
				<div class="clearfix"></div>
                {% if work_history.count > 3 %}
				<div class="pagination-container margin-top-40 margin-bottom-10">
					<nav class="pagination">
						<ul>
							<li><a href="#" class="ripple-effect current-page">1</a></li>
							<li><a href="#" class="ripple-effect">2</a></li>
							<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
						</ul>
					</nav>
				</div>
            {% endif %}
            <div class="clearfix"></div>
				<!-- Pagination / End -->

			</div>
			<!-- Boxed List / End -->
		</div>


		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">

				<!-- Profile Overview -->
				<div class="profile-overview">
					<div class="overview-item"><strong>${{ profile.rate }}</strong><span>Hourly Rate</span></div>
					<div class="overview-item"><strong>{{ profile.total_job_done }}</strong><span>Jobs Done</span></div>
					<div class="overview-item"><strong>{{ profile.total_hired }}</strong><span>Hired</span></div>
				</div>

				<!-- Button -->
				<a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-50">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></a>


				<!-- Freelancer Indicators -->
				<div class="sidebar-widget">
					<div class="freelancer-indicators">

						<!-- Indicator -->
						<div class="indicator">
							<strong>{{ profile.calculate_success_rate|floatformat:"0" }}%</strong>
							<div class="indicator-bar" data-indicator-percentage="{{ profile.calculate_success_rate|floatformat:"0" }}"><span></span></div>
							<span>Job Success</span>
						</div>

						<!-- Indicator -->
						<div class="indicator">
							<strong>100%</strong>
							<div class="indicator-bar" data-indicator-percentage="100"><span></span></div>
							<span>Recommendation</span>
						</div>

						<!-- Indicator -->
						<div class="indicator">
							<strong>90%</strong>
							<div class="indicator-bar" data-indicator-percentage="90"><span></span></div>
							<span>On Time</span>
						</div>

						<!-- Indicator -->
						<div class="indicator">
							<strong>80%</strong>
							<div class="indicator-bar" data-indicator-percentage="80"><span></span></div>
							<span>On Budget</span>
						</div>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Social Profiles</h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							<li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
							<li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
							<li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
							<li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>

						</ul>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Skills</h3>
					<div class="task-tags">
                        {% if profile.skills %}
                            {% for skill in profile.skill_as_list %}
                                <span>{{ skill }}</span>
                            {% endfor %}
                        {% endif %}
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Attachments</h3>
					<div class="attachments-container">
			        {% if profile.userCV %}
						<a href="{{ profile.userCV.url }}" class="attachment-box ripple-effect"><span>{{ profile.get_file_name }}</span></a>
                    {% else %}
                        <a href="javascript:"  class="attachment-box ripple-effect" style="cursor: not-allowed"><span>No File</span></a>
                    {% endif %}
					</div>
				</div>

				<!-- Sidebar Widget -->
				<div class="sidebar-widget">
					<h3>Bookmark</h3>
					<!-- Bookmark Button -->
                    {% if request.user.is_authenticated %}
                        <button id="bookmark_Btn" data-url="{% url 'bookmarks' %}" class="bookmark-button margin-bottom-25 {% if profile.get_bookmark_profile %}bookmarked{% endif %} ">
                                <span class="bookmark-icon"></span>
                                <span class="bookmark-text">Bookmark</span>
                                <span class="bookmarked-text">Bookmarked</span>
                        </button>
                    {% else %}
                            {# TODO: handle bookmark when user is not loggedIn. Icon not place correctly #}
                        <a href="#sign-in-dialog" class="login popup-with-zoom-anim button dark ripple-effect"><i class="icon-material-outline-star"></i> Bookmark</a>
                    {% endif %}
				</div>

			</div>
		</div>

	</div>
</div>

<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->


<!-- Make an Offer Popup -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Make an Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Discuss your project with {{profile.user.first_name}}</h3>
				</div>

				<!-- Form -->
				<form method="post" id="offer_form" action="{% url 'send_offer' %}">
                    {% csrf_token %}

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="full_name" id="full_name" placeholder="First and Last Name" required
                               {% if request.user.is_authenticated %}
                                   value="{{ request.user.first_name }} {{ request.user.last_name }}"
                               {% endif %}
                        />
                    <div id="offer-full_name-error" class="alert alert-danger margin-bottom-20" style="display: none;">Full Name Error</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="email" value="{{ request.user.email }}" placeholder="Email Address" required/>
                        <div id="offer-email-error" class="alert alert-danger margin-bottom-20" style="display: none;">Email Error</div>
					</div>

					<textarea name="offer_message" cols="10" placeholder="Message" class="with-border" required></textarea>
                    <div id="offer-message-error" class="alert alert-danger" style="display: none;">Offer message error</div>

					<div class="uploadButton margin-top-25">
						<input class="uploadButton-input" type="file" name="offer_file" accept="image/*, application/pdf" id="upload" multiple/>
						<label class="uploadButton-button ripple-effect" for="upload">Add Attachments</label>
						<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
					</div>

				<!-- Button -->
				    <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>
				</form>

			</div>

			<!-- Login
{#			<div class="popup-tab-content" id="login">#}
{##}
{#				<!-- Welcome Text -->#}
{#				<div class="welcome-text">#}
{#					<h3>Discuss Your Project With Tom</h3>#}
{#				</div>#}
{##}
{#				<!-- Form -->#}
{#				<form method="post" id="make-an-offer-form">#}
{##}
{#					<div class="input-with-icon-left">#}
{#						<i class="icon-material-outline-account-circle"></i>#}
{#						<input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required/>#}
{#					</div>#}
{##}
{#					<div class="input-with-icon-left">#}
{#						<i class="icon-material-baseline-mail-outline"></i>#}
{#						<input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required/>#}
{#					</div>#}
{##}
{#					<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>#}
{##}
{#					<div class="uploadButton margin-top-25">#}
{#						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple/>#}
{#						<label class="uploadButton-button" for="upload-cv">Add Attachments</label>#}
{#						<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>#}
{#					</div>#}
{##}
{#				</form>#}
{##}
{#				<!-- Button -->#}
{#				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>#}
{##}
{#			</div>#}
{#        #}
-->

		</div>
	</div>
</div>
<!-- Make an Offer Popup / End -->


{% endblock %}