{% extends 'base.html' %}
{% load static %}
{% load templatehelpers %}
{% load thumbnail %}

{% block title %} Manage Proposals | {% endblock %}

{% block content %}
    <!-- Dashboard Content -->
	<div class="setting-container">
		<div class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage Bidders</h3>
				<span class="margin-top-7">Bids for <a href="#">{{ task.title }}</a>
                    {% if task.job_status == 'Completed' %} is Completed {% endif %}
                </span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="{% url 'my_tasks' %}">My Jobs</a></li>
						<li>Manage Bidders</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i> {{ task.proposals.count }} Bidders</h3>
							<div class="sort-by">
                                <form method="get">
                                    <select name="sort-by" class="selectpicker hide-tick" onchange="this.form.submit()">
                                        <option  value="relevance">Relevance</option>
                                        <option {% if "HF" in request.get_full_path %} selected {% endif %} value="HF">Highest First</option>
                                        <option {% if "LF" in request.get_full_path %} selected {% endif %} value="LF">Lowest First</option>
                                    </select>
                                </form>
							</div>
						</div>

						<div class="content">
                            {% if proposals %}
                                <ul class="dashboard-box-list">
                                    {% for proposal in proposals %}
                                        <li>
                                        <!-- Overview -->
                                        <div class="freelancer-overview manage-candidates">
                                            <div class="freelancer-overview-inner">

                                                <!-- Avatar -->
                                                <div class="freelancer-avatar">
                                                    <div class="verified-badge"></div>
                                                    {% if not proposal.user %}
                                                        <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                    {% else %}
                                                        <a href="{% url 'freelancer_profile' proposal.user.profile.id %}">
                                                            {% thumbnail proposal.user.profileImg "100" as im %}
                                                                <img src="{{ im.url }}" alt="">
                                                            {% empty %}
                                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                            {% endthumbnail %}
                                                        </a>
                                                    {% endif %}
                                                </div>

                                                <!-- Name -->
                                                <div class="freelancer-name">
                                                    <h4>
                                                        {% if not proposal.user %}
                                                            Deactivated User
                                                        {% else %}
                                                                <a href="{% url 'freelancer_profile' proposal.user.profile.id %}"> {{proposal.user.first_name}} {{ proposal.user.last_name }}</a>
                                                        {% endif %}
                                                        {% if proposal.status == 'completed' and task.job_status == 'Completed' %}
                                                            <span class="dashboard-status-button green">Completed this task</span>
                                                        {% endif %}
                                                    </h4>

                                                    <!-- Details -->
                                                    {% if proposal.user %}
                                                        <span class="freelancer-detail-item"><i class="icon-feather-mail"></i> <span class="__cf_email__">{{ proposal.user.email }}</span></span>

                                                    <!-- Rating -->
                                                    <div class="freelancer-rating">
                                                        <div class="star-rating" data-rating="{{ proposal.user.profile.calculate_rating }}"></div>
                                                    </div>

                                                    {% endif %}

                                                    <!-- Bid Details -->
                                                    <ul class="dashboard-task-info bid-info">
                                                        <li><strong>$ {{ proposal.rate }}</strong><span>{{ task.project_type }} Price</span></li>
                                                        {% if not proposal.task.is_hourly_task %}<li><strong> {{ proposal.days }} Days</strong><span>Delivery Time</span></li>{% endif %}
                                                    </ul>

                                                    <!-- Buttons -->
                                                    <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                        {% if proposal.status == 'accepted' %}
                                                            <a href="javascript:" class=" green button ripple-effect"><i class="icon-material-outline-check"></i>Offer Accepted</a>
                                                        {% elif proposal.status == 'cancelled' %}
                                                            <a href="javascript:" class=" red button ripple-effect">Cancelled by user</a>
                                                        {% elif proposal.staus is None and task.job_status == "Pending" %}
                                                            <a href="#small-dialog-1" data-url="{% url 'accept_proposal' proposal.id %}" data-content="{{ proposal.user.first_name }},{{ proposal.rate }},{{ proposal.days }}"  class="popup-with-zoom-anim button ripple-effect accept-offer"><i class="icon-material-outline-check"></i> Accept Offer</a>
                                                        {% endif %}
                                                        {% if proposal.user %}
                                                            <a href="#small-dialog-2" data-firstName="{{ proposal.user.first_name }}" data-id="{{ proposal.user.id }}" data-url="{% url 'messages' %}"  class="popup-with-zoom-anim button dark ripple-effect send-message"><i class="icon-feather-mail"></i> Send Message</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                             {% else %}
                                <div class="margin-top-10 margin-bottom-10">
                                    <p style="text-align-last: center">Currently no one have placed any bid yet.</p>
                                </div>
                             {% endif %}
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

                <!-- Pagination -->
               {% if proposals.has_other_pages %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-40 margin-bottom-60">
                                <nav class="pagination justify-content-center">
                                    <ul>
                                        {% if proposals.has_previous %}
                                            <li class="pagination-arrow"><a href="{% relative_url proposals.previous_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                         {% endif %}

                                        {% for i in proposals.paginator.page_range %}
                                            {% if proposals.number == i %}
                                                <li><a href="javascript:" class="current-page ripple-effect">{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="{% relative_url i 'page' request.GET.urlencode %}" class="ripple-effect">{{ i }}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                        {% if proposals.has_next %}
                                        <li class="pagination-arrow"><a href="{% relative_url proposals.next_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                {% else %}
                    <div class="margin-top-90"></div>
                {% endif %}
		</div>
	</div>
	<!-- Dashboard Content / End -->


    <!-- Bid Acceptance Popup -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Accept Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Accept Offer From <strong id="first_name"></strong></h3>
					<div id="accept_offer_rate" class="bid-acceptance margin-top-15">
						$3200
					</div>
				</div>

                <div hidden class="d-flex justify-content-center text-primary js-accept-proposal-loading-spinner">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

				<form id="terms" method="post">
                    {% csrf_token %}
				</form>

				<!-- Button -->
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Bid Acceptance Popup / End -->


<!-- Send Direct Message Popup -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li>
                <a href="#tab2">Send Message
                    <div hidden class="spinner-border spinner-border-sm ml-2 margin-top-5 js-send-message-loading-spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </a>
            </li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 id="receiver_name_h3">Direct Message To David</h3>
				</div>

				<!-- Form -->
				<form method="post" id="send-pm">
                    {% csrf_token %}
                    <input type="hidden" name="receiver_id">
					<textarea name="message_content" cols="10" placeholder="Message" class="with-border" required></textarea>
				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i class="icon-material-outline-arrow-right-alt"></i></button>
			</div>
		</div>
	</div>
</div>
<!-- Send Direct Message Popup / End -->
{% endblock %}