[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.8"
pillow = "*"
django-widget-tweaks = "*"
django-multiselectfield = "*"
django-currentuser = "*"
django-hitcount = "*"
channels = "*"
channels-redis = "*"
python-decouple = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
sorl-thumbnail = "*"
redis = "*"
whitenoise = "*"
gunicorn = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
