[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.8"
pillow = "*"
django-widget-tweaks = "*"
django-multiselectfield = "*"
django-currentuser = "*"
django-hitcount = "*"
channels = "*"
channels-redis = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
