{% extends 'common/_dashboard.html' %}
{% load static %}

{% block title %} Dashboard | {% endblock %}

{% block dashboard_content %}
    <!-- Dashboard Content -->
    <div class="dashboard-content-container">
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                {% if request.user.first_name %}
                    <h3>{{ request.user.first_name }}, {{ request.user.last_name }}!</h3>
                {% endif %}
                <span>We are glad to see you again!</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Dashboard</li>
                    </ul>
                </nav>
            </div>

            <!-- Fun Facts Container -->
            <div class="fun-facts-container">
                <div class="fun-fact" data-fun-fact-color="#36bd78">
                    <div class="fun-fact-text">
                        <span>Task Bids Won</span>
                        <h4>{{ request.user.task_accepted }}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#b81b7f">
                    <div class="fun-fact-text">
                        <span>Task Completed</span>
                        <h4>{{ request.user.task_completed }}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-material-outline-check-circle"></i></div>
                </div>
                <div class="fun-fact" data-fun-fact-color="#efa80f">
                    <div class="fun-fact-text">
                        <span>In Progress</span>
                        <h4>{{ request.user.task_InProgress }}</h4>
                    </div>
                    <div class="fun-fact-icon"><i class="icon-line-awesome-hourglass-2"></i></div>
                </div>
                <div class="fun-fact" style="display: none"></div>
            </div>

            <!-- Row -->
            <div class="row">
                <div class="col-xl-12">
                    {% include 'Freelancer/includes/partial_views_chart.html' %}
                </div>
            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row">
                <!-- Dashboard Notifications Box col-xl-12 -->
                <div class="col-xl-12 js-dashboard-notification-pages">
                    {% include 'Notification/include/partial_dashboard_notifications_list.html' %}
                </div>
            </div>
            <!-- Row / End -->

            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->
        </div>
    </div>
    <!-- Dashboard Content / End -->
{% endblock dashboard_content %}