{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Spacer -->
    <div class="margin-top-90"></div>
    <!-- Spacer / End-->

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Left Side -->
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">

                    <form method="get">
                        <!-- Keywords -->
                        <div class="sidebar-widget">
                            <h3>Keywords</h3>
                            <div class="input-with-icon">
                                <div id="autocomplete-container">
                                    <input id="search-input" name="search" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <!-- Hourly Rate -->
                        <div class="sidebar-widget">
                            <h3>Hourly Rate</h3>
                            <div class="margin-top-55"></div>

                            <!-- Range Slider -->
                            <input class="range-slider" name="rate" type="text" value=""
                                   data-slider-currency="$" data-slider-min="10" data-slider-max="250"
                                   data-slider-step="5" data-slider-value="[10,250]"/>
                        </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Skills</h3>
                            <select class="selectpicker default" multiple data-selected-text-format="count"
                                    data-max-options="5" name="category"
                                    data-size="7" data-live-search="true" title="Select skills..">
                                <optgroup label="Web Dev">
                                    <option>Angular</option>
                                    <option>React</option>
                                    <option>Vue</option>
                                    <option data-divider="true"></option>
                                    <option>Bootstrap</option>
                                    <option>CSS</option>
                                    <option>Html</option>
                                    <option>JavaScript</option>
                                    <option>Wordpress</option>
                                </optgroup>
                                <optgroup label="Software Dev">
                                    <option>C#</option>
                                    <option>C++</option>
                                    <option>Java</option>
                                    <option>Python</option>
                                    <option>Php</option>
                                    <option>Ruby</option>
                                    <option>Objective-C</option>
                                    <option>Swift</option>
                                </optgroup>
                                <optgroup label="Graphic & Design">
                                    <option>Logo Design</option>
                                    <option>Game Design</option>
                                    <option>PhotoShop Editing</option>
                                    <option>Web & Mobile Des</option>
                                    <option>Banner Ads</option>
                                    <option>Business Card</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="sidebar-widget">
                            <button type="submit" class="button ripple-effect full-width">Search</button>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>

            <!-- Right Side -->

		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container">
					<label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option>Relevance</option>
						<option>Newest</option>
						<option>Oldest</option>
						<option>Random</option>
					</select>
				</div>
			</div>

			<!-- Tasks Container -->
			<div class="tasks-list-container margin-top-35">

				<!-- Tasks -->
                {% if tasks %}
                {% for task in tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task-listing">

					<!-- Job Listing Details -->
					<div class="task-listing-details">

						<!-- Details -->
						<div class="task-listing-description">
							<h3 class="task-listing-title">{{ task.title }}</h3>
							<ul class="task-icons">
								<li><i class="icon-material-outline-business-center"></i> {{ task.exp_level.capitalize }}</li>
								<li><i class="icon-material-outline-access-time"></i> {{ task.updated_at | timesince }} ago</li>
							</ul>
							<p class="task-listing-text">{{ task.description | truncatewords:"20" }}</p>
                            {% if task.skills %}
                            <div class="task-tags">
                                {% for value in task.skills %}
                                    <span>{{ value.capitalize }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
						</div>

					</div>

					<div class="task-listing-bid">
						<div class="task-listing-bid-inner">
							<div class="task-offers">
								<strong>${{ task.min_price }} - ${{ task.max_price }}</strong>
								<span>{{task.project_type.capitalize}}</span>
							</div>
							<span class="button button-sliding-icon ripple-effect">
                                {% if task.user_submitted_proposal %}
                                    Bid Placed
                                {% else %}
                                    Bid Now
                                {% endif %}
                                <i class="icon-material-outline-arrow-right-alt"></i>
                            </span>
						</div>
					</div>
				</a>

                {% endfor %}

                {% else %}
                    <div class="margin-top-10 margin-bottom-10">
                        <p style="text-align-last: center">Currently you have not post any task.</p>
                    </div>
                {% endif %}


				<!-- Pagination -->
				<div class="clearfix"></div>
                {% if tasks|length > 6 %}
				    <div class="row">
					<div class="col-md-12">
						<!-- Pagination -->
						<div class="pagination-container margin-top-30 margin-bottom-60">
							<nav class="pagination">
								<ul>
									<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
									<li><a href="#" class="ripple-effect">1</a></li>
									<li><a href="#" class="current-page ripple-effect">2</a></li>
									<li><a href="#" class="ripple-effect">3</a></li>
									<li><a href="#" class="ripple-effect">4</a></li>
									<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
                    {% else %}
                    <div class="margin-top-90"></div>
                {% endif %}
				<!-- Pagination / End -->

			</div>
			<!-- Tasks Container / End -->
		</div>
        </div>
    </div>

{% endblock content %}