{% extends 'base.html' %}
{% load static %}
{% load templatehelpers %}

{% block title %} Find Task | {% endblock %}

{% block content %}
    <!-- Spacer -->
    <div class="margin-top-90"></div>
    <!-- Spacer / End-->

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Left Side -->
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">

                    <form method="get">
                        <!-- Keywords -->
                        <div class="sidebar-widget">
                            <h3>Keywords</h3>
                            <div class="input-with-icon">
                                <div id="autocomplete-container">
                                    {# value="{{ request.GET.search }}" #}
                                    <input id="search-input" name="search"  type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <!-- Hourly Rate -->
                        <div class="sidebar-widget">
                            <h3>Hourly Rate</h3>
                            <div class="margin-top-55"></div>

                            <!-- Range Slider -->
                            <input class="range-slider" name="rate" type="text" value=""
                                   data-slider-currency="$" data-slider-min="10" data-slider-max="1000"
                                   data-slider-step="5" data-slider-value="[10,1000]"/>
                        </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Skills</h3>
                            <select class="selectpicker default" multiple data-selected-text-format="count"
                                    data-max-options="5" name="skills"
                                    data-size="7" data-live-search="true" title="Select skills..">
                                <optgroup label="Web Dev">
                                    <option>Angular</option>
                                    <option>React</option>
                                    <option>Vue</option>
                                    <option>Bootstrap</option>
                                    <option>CSS</option>
                                    <option>Html</option>
                                    <option>JavaScript</option>
                                </optgroup>
                                <optgroup label="Software Dev">
                                    <option>C#</option>
                                    <option>C++</option>
                                    <option>Java</option>
                                    <option>Python</option>
                                    <option>Php</option>
                                    <option>Ruby</option>
                                    <option>Objective-C</option>
                                    <option>Swift</option>
                                </optgroup>
                                <optgroup label="Graphic & Design">
                                    <option>Logo Design</option>
                                    <option>Game Design</option>
                                    <option>PhotoShop Editing</option>
                                    <option>Banner Ads</option>
                                    <option>Business Card</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="sidebar-widget">
                            <button type="submit" class="button ripple-effect full-width">Search</button>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>

            <!-- Right Side -->

		<div class="col-xl-9 col-lg-8 content-left-offset">

			<div class="notify-box margin-top-15">
				<div class="switch-container">
        			<h4 class="page-title">Search Results</h4>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select name="sortBy" onchange="location = this.value;"
                            class="selectpicker hide-tick">
                        <option {% if "sortBy=newest" in request.get_full_path %} selected {% endif %} value="{% relative_url 'newest' 'sortBy' request.GET.urlencode %}">Newest</option>
						<option {% if "sortBy=oldest" in request.get_full_path %} selected {% endif %} value="{% relative_url 'oldest' 'sortBy' request.GET.urlencode %}">Oldest</option>
					</select>
				</div>
			</div>

			<!-- Tasks Container -->
			<div class="tasks-list-container margin-top-35">

				<!-- Tasks -->
                {% if tasks %}
                {% for task in tasks %}
                    <a href="{% url 'view_task' task.id %}" class="task-listing">

					<!-- Job Listing Details -->
					<div class="task-listing-details">

						<!-- Details -->
						<div class="task-listing-description">
							<h3 class="task-listing-title">{{ task.title }}</h3>
							<ul class="task-icons">
								<li><i class="icon-material-outline-business-center"></i> {{ task.exp_level.capitalize }}</li>
								<li><i class="icon-material-outline-access-time"></i> {{ task.created_at | timesince }} ago</li>
							</ul>
							<p class="task-listing-text">{{ task.description | truncatewords:"20" }}</p>
                            {% if task.skills %}
                            <div class="task-tags">
                                {% for value in task.skills %}
                                    <span>{{ value.capitalize }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
						</div>

					</div>

					<div class="task-listing-bid">
						<div class="task-listing-bid-inner">
							<div class="task-offers">
								<strong>${{ task.min_price }} - ${{ task.max_price }}</strong>
								<span>{{task.project_type.capitalize}}</span>
							</div>
							<span class="button button-sliding-icon ripple-effect">
                                {% if task.user_submitted_proposal %}
                                    Bid Placed
                                {% else %}
                                    Bid Now
                                {% endif %}
                                <i class="icon-material-outline-arrow-right-alt"></i>
                            </span>
						</div>
					</div>
				</a>

                {% endfor %}

                {% else %}
                    <div class="margin-top-10 margin-bottom-10">
                        <p style="text-align-last: center">Currently you have not post any task.</p>
                    </div>
                {% endif %}


				<!-- Pagination -->
				<div class="clearfix"></div>
                {% if tasks.has_other_pages %}
				    <div class="row">
					<div class="col-md-12">
						<!-- Pagination -->
						<div class="pagination-container margin-top-30 margin-bottom-60">
							<nav class="pagination">
								<ul>
                                    {% if tasks.has_previous %}
									    <li class="pagination-arrow"><a href="?page={{ tasks.previous_page_number }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    {% else %}
                                        <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a> </li>
                                    {% endif %}

                                    {% for i in tasks.paginator.page_range %}
                                        {% if tasks.number == i %}
                                            <li><a href="#" class="current-page ripple-effect">{{ i }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}" class="ripple-effect">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

									{% if tasks.has_next %}
									    <li class="pagination-arrow"><a href="?page={{ tasks.next_page_number }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    {% else %}
                                        <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    {% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</div>
                    {% else %}
                    <div class="margin-top-90"></div>
                {% endif %}
				<!-- Pagination / End -->

			</div>
			<!-- Tasks Container / End -->
		</div>
        </div>
    </div>

{% endblock content %}