{% extends 'base.html' %}
{% load static %}
{% load templatehelpers %}

{% block title %} Proposals | {% endblock %}

{% block content %}
<!-- Dashboard Content -->
	<div class="dashboard-content-container">
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>My Active Bids</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li>My Active Bids</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-gavel"></i> Bids List</h3>
                             <div class="sort-by">
                                 <form method="get">
                                    <select name="sort-by" class="selectpicker hide-tick" onchange="this.form.submit()">
                                        <option {% if "relevance" in request.get_full_path %} selected {% endif %} value="relevance">Relevance</option>
                                        <option {% if "accepted" in request.get_full_path %} selected {% endif %} value="accepted">Accepted</option>
                                        <option {% if "cancelled" in request.get_full_path %} selected {% endif %} value="cancelled">Cancelled</option>
                                        <option {% if "completed" in request.get_full_path %} selected {% endif %} value="completed">Completed</option>
                                        <option {% if "pending" in request.get_full_path %} selected {% endif %} value="pending">Pending</option>
                                    </select>
                                 </form>
							</div>
						</div>

						<div class="content js-proposals-list">
							    <ul class="dashboard-box-list">
                                {% if proposals%}
								{% for proposal in proposals %}
                                    <li>
									<!-- Job Listing -->
									<div class="job-listing width-adjustment">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title">
                                                    {% if proposal.task.job_status != "Completed" %}
                                                        <a href="{% url 'view_task' proposal.task.id %}" style="font-size: 20px; line-height: 30px">{{ proposal.task.title }}</a>
                                                    {% else %}
                                                        {{ proposal.task.title }}
                                                    {% endif %}
                                                    {% if proposal.status == 'accepted' %}
                                                        <span class="dashboard-status-button blue">Accepted</span>
                                                    {% elif proposal.status == 'cancelled' %}
                                                        <span class="dashboard-status-button red">Cancelled</span>
                                                    {% elif proposal.status == 'completed' %}
                                                        <span class="dashboard-status-button green">Completed</span>
                                                    {% else %}
                                                        <span class="dashboard-status-button yellow">Pending</span>
                                                    {% endif %}
                                                </h3>

                                                <!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="icon-material-outline-access-time"></i> {{ proposal.created_at | timesince }} ago</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Task Details -->
									<ul class="dashboard-task-info">
										<li><strong>$ {{ proposal.rate }}</strong><span>{{ proposal.task.project_type.capitalize}}</span></li>
										{% if not proposal.task.is_hourly_task %}<li><strong> {{ proposal.days }} Days</strong><span>Delivery Time</span></li>{% endif %}
									</ul>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
                                        {% if proposal.status == 'accepted' %}
                                            <a href="javascript:" id="complete_job_Btn" data-url="{% url 'task_completed' proposal.id %}" class="button ripple-effect"><i class="icon-material-outline-check"></i> Complete Job</a>
                                            <a href="#small-dialog" data-url="{% url 'cancel_task' proposal.id %}" class="popup-with-zoom-anim button red ripple-effect cancel-task-popup"><i class="icon-feather-alert-circle"></i> Cancel Job</a>
                                        {% elif proposal.status is None %}
                                            <a href="#small-dialog" data-url="{% url 'delete_proposal' proposal.id %}"  data-content="{{ proposal.task.title }}" class=" popup-with-zoom-anim button red ripple-effect ico delete-popup" data-tippy-placement="top" title="Delete Bid"><i class="icon-feather-trash-2"></i></a>
                                        {% endif %}

									</div>

								</li>
                                {% endfor %}
                                {% else %}
                                 <div class="margin-top-10 margin-bottom-10">
                                    <p style="text-align-last: center">Currently you have not placed any bid yet.</p>
                                </div>
                                {% endif %}
							</ul>

						</div>
					</div>
				</div>
			</div>
        	<!-- Row End-->


            	<!-- Pagination -->
               {% if proposals.has_other_pages %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-40 margin-bottom-60">
                                <nav class="pagination justify-content-center">
                                    <ul>
                                        {% if proposals.has_previous %}
                                            <li class="pagination-arrow"><a href="{% relative_url proposals.previous_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                         {% endif %}

                                        {% for i in proposals.paginator.page_range %}
                                            {% if proposals.number == i %}
                                                <li><a href="javascript:" class="current-page ripple-effect">{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="{% relative_url i 'page' request.GET.urlencode %}" class="ripple-effect">{{ i }}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                        {% if proposals.has_next %}
                                        <li class="pagination-arrow"><a href="{% relative_url proposals.next_page_number 'page' request.GET.urlencode %}" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% else %}
                                            <li class="pagination-arrow disabled"><a href="javascript:" class="ripple-effect"><i
                                                class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                {% else %}
                    <div class="margin-top-90"></div>
                {% endif %}
		</div>
	</div>
	<!-- Dashboard Content / End -->

    <!-- Delete proposal Popup -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab" id="popup-tabs" >Delete Proposal</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
                    <p id="delete-proposal-p">Are you sure you want to delete</p>
				</div>

                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center">
                        <!-- Button -->
                        <a class="button gray ripple-effect-dark cancel-popup">Cancel</a>
                    </div>

                    <div class="col-lg-4" style="text-align: center">
                        <!-- Button -->
                        <a href="javascript:" id="delete-confirm-popup" class="button ripple-effect " style="background-color: #de5959">Delete</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
    <!-- Delete proposal Popup / End -->


{% endblock %}