{% load widget_tweaks %}

<form action="{% url 'change-password' %}" method="post" id="changePasswordForm">
    {% csrf_token %}
    <div class="row">
        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Current Password</h5>
{#                <input type="password" name="old_password" placeholder="Current Password" class="with-border" required>#}
                {% render_field password_form.old_password class="with-border" placeholder="Current Password" %}
                {% if password_form.old_password.errors %}
                    <div class="alert alert-danger"><strong>{{ password_form.old_password.errors.0 }}</strong></div>
                {% endif %}
{#                <div id="old_password-error" class="alert alert-danger"#}
{#                     style="display: none">#}
{#                </div>#}
            </div>
        </div>

        <div class="col-xl-4">
            <div class="submit-field">
                <h5>New Password</h5>
{#                <input type="password" name="new_password1" class="with-border" placeholder="New Password" required>#}
                {% render_field password_form.new_password1 class="with-border" placeholder="New Password" %}
                {% if password_form.new_password1.errors %}
                    <div class="alert alert-danger"><strong>{{ password_form.new_password1.errors.0 }}</strong></div>
                {% endif %}
{#                <div id="new_password-error" class="alert alert-danger"#}
{#                     style="display: none">#}
{#                </div>#}
            </div>
        </div>

        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Repeat New Password</h5>
{#                <input type="password" name="new_password2" class="with-border" placeholder="Repeat Password" required>#}
                {% render_field password_form.new_password2 class="with-border" placeholder="Repeat Password" %}
                {% if password_form.new_password2.errors %}
                    <div class="alert alert-danger"><strong>{{ password_form.new_password2.errors.0 }}</strong></div>
                {% endif %}
            </div>
        </div>

        <div class="col-xl-12">
            <div class="submit-field">
                <button type="submit" class="button ripple-effect big float-right">
                    <span hidden
                          class="spinner-border spinner-border-sm mr-2 margin-bottom-3 js-password-change-loading-spinner"
                          role="status" aria-hidden="true"></span>
                    Save Changes
                </button>
            </div>
        </div>

    </div>
</form>