{% extends 'base.html' %}
{% load  static %}


{% block content %}

    <!-- Dashboard Container -->
<div class="dashboard-container">
	<!-- Dashboard Sidebar -->
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner">
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>

				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Start">
							<li  class="{% if 'dashboard/' in request.path %}active{% endif %}">
                                <a href="{% if request.user.is_Employer %}
                                            {% url 'emp_dashboard' %}
                                            {% else %}
                                            {% url 'freelancer_dashboard' %}
                                {% endif %} ">
                                    <i class="icon-material-outline-dashboard"></i> Dashboard
                                </a>
                            </li>

                            <li class="{% if 'messages/' in request.path %}active{% endif %}"><a href="{% url 'messages' %}"><i class="icon-material-outline-question-answer"></i> Messages </a></li>

                            {% if request.user.is_Freelancer %}
                                <li class="{% if 'freelancer/offers/' in request.path %}active{% endif %}"><a href="{% url 'offers' %}"><i class="icon-material-outline-assignment"></i> Offers</a></li>
                            {% endif %}

                            <li class="{% if 'bookmarks/' in request.path %}active{% endif %}"><a href="{% url 'bookmarks' %}"><i class="icon-material-outline-star-border"></i> Bookmarks</a></li>

                            <li class="{% if 'reviews/' in request.path %}active{% endif %}">
                                <a href="{% if request.user.is_Freelancer %}{% url 'freelancer_reviews' %}{% else %}{% url 'emp_reviews' %}{% endif %}"><i class="icon-material-outline-rate-review"></i> Reviews</a>
                            </li>

						</ul>

						<ul data-submenu-title="Account">
							<li><a href="{% url 'settings' %}"><i class="icon-material-outline-settings"></i> Settings</a></li>
                            <li><a href="#small-dialog" class="popup-with-zoom-anim ripple-effect"><i class="icon-line-awesome-user-times"></i>Deactivate Account</a></li>
{#							<a href="#small-dialog" class="popup-with-zoom-anim button gray ripple-effect ico show-popup" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>#}
                            <li><a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>

					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->
    {% block dashboard_content %}{% endblock dashboard_content %}
</div>
<!-- Dashboard Container / End -->

    <!-- Deactivate Account Popup -->
    <div id="small-dialog"  class="zoom-anim-dialog mfp-hide dialog-with-tabs">
	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Deactivate Account</a></li>
		</ul>
		<div class="popup-tabs-container">
			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				<!-- Welcome Text -->
				<div class="welcome-text">
                    <p>Are you sure you want to deactivate your account.</p>
				</div>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4" style="text-align: center">
                        <a class="button gray ripple-effect-dark cancel-popup">Cancel</a>
                    </div>

                    <div class="col-lg-5" style="text-align: center">
                        <!-- Button -->
                        <a href="javascript:" id="deactivate-confirm-popup" data-url="{% url 'deactivate_account' %}" class="button ripple-effect " style="background-color: #de5959"><i class="icon-feather-trash-2"></i> Deactivate</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
    <!-- Delete task Popup / End -->

{% endblock %}