{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load thumbnail %}

{% block content %}
    <!-- Intro Banner
================================================== -->
    <!-- add class "disable-gradient" to enable consistent background overlay -->
    <div class="intro-banner" data-background-image=" {% static 'images/home-background.jpg' %}">
        <div class="container">

            <!-- Intro Headline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Hire experts or be hired for any job, any time.</strong>
                            <br>
                            <span>Thousands of small businesses use <strong class="color">Hireo</strong> to turn their ideas into reality.</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="row">
                <div class="col-md-4">
                    <ul class="intro-stats margin-top-95 hide-under-992px">
                        <li>
                            <strong class="counter">{{ total_tasks_posted|intcomma }}</strong>
                            <span>Tasks Posted</span>
                        </li>
                        <li>
                            <strong class="counter">{{ total_freelancers|intcomma }}</strong>
                            <span>Freelancers</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="intro-banner-search-form margin-top-95">

                        <!-- Search Field -->
                        <div class="intro-search-field">
                            <label for="intro-keywords" class="field-title ripple-effect">What job you want?</label>
                            <input id="search-job" type="text" placeholder="Job Title or Keywords">
                        </div>

                        <!-- Button -->
                        <div class="intro-search-button">
                            <button class="button ripple-effect"
                                    onclick="window.location.href=`{% url 'find_tasks' %}?skills=${document.getElementById('search-job').value}`">Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats
            <div class="row">
                <div class="col-md-12">
                    <ul class="intro-stats margin-top-45 hide-under-992px">
                        <li>
                            <strong class="counter">{{ total_tasks_posted|intcomma }}</strong>
                            <span>Tasks Posted</span>
                        </li>
                        <li>
                            <strong class="counter">{{ total_freelancers|intcomma }}</strong>
                            <span>Freelancers</span>
                        </li>
                    </ul>
                </div>
            </div>
            -->

        </div>
    </div>


    <!-- Content -->
    <!-- Category Boxes -->
    <div class="section margin-top-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div class="section-headline centered margin-bottom-15">
                        <h3>Popular Job Categories</h3>
                    </div>

                    <!-- Category Boxes Container -->
                    <div class="categories-container">

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-file-code-o"></i>
                            </div>
                            <div class="category-box-counter">612</div>
                            <div class="category-box-content">
                                <h3>Web & Software Dev</h3>
                                <p>Software Engineer, Web / Mobile Developer & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-cloud-upload"></i>
                            </div>
                            <div class="category-box-counter">113</div>
                            <div class="category-box-content">
                                <h3>Data Science & Analitycs</h3>
                                <p>Data Specialist / Scientist, Data Analyst & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-suitcase"></i>
                            </div>
                            <div class="category-box-counter">186</div>
                            <div class="category-box-content">
                                <h3>Accounting & Consulting</h3>
                                <p>Auditor, Accountant, Fnancial Analyst & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-pencil"></i>
                            </div>
                            <div class="category-box-counter">298</div>
                            <div class="category-box-content">
                                <h3>Writing & Translations</h3>
                                <p>Copywriter, Creative Writer, Translator & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-pie-chart"></i>
                            </div>
                            <div class="category-box-counter">549</div>
                            <div class="category-box-content">
                                <h3>Sales & Marketing</h3>
                                <p>Brand Manager, Marketing Coordinator & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-image"></i>
                            </div>
                            <div class="category-box-counter">873</div>
                            <div class="category-box-content">
                                <h3>Graphics & Design</h3>
                                <p>Creative Director, Web Designer & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-bullhorn"></i>
                            </div>
                            <div class="category-box-counter">125</div>
                            <div class="category-box-content">
                                <h3>Digital Marketing</h3>
                                <p>Darketing Analyst, Social Profile Admin & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="#" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-graduation-cap"></i>
                            </div>
                            <div class="category-box-counter">445</div>
                            <div class="category-box-content">
                                <h3>Education & Training</h3>
                                <p>Advisor, Coach, Education Coordinator & More</p>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Category Boxes / End -->


    <!-- Features Jobs -->
    <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Section Headline -->
                    <div class="section-headline margin-top-0 margin-bottom-35">
                        <h3>Featured Jobs</h3>
                        <a href="{% url 'find_tasks' %}" class="headline-link">Browse All Jobs</a>
                    </div>
                    {% if tasks %}
                            <!-- Jobs Container -->
                        <div class="listings-container compact-list-layout margin-top-35">
                            {% for task in tasks %}
                                <a href="{% url 'view_task' task.id %}" class="job-listing with-apply-button">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">

                                <!-- Logo -->
                                <div class="job-listing-company-logo">
                                    <img src="{% static 'images/company-logo-05.png' %}" alt="">
                                </div>

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title">{{ task.title }}</h3>

                                    <!-- Job Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            <li><i class="icon-material-outline-business-center"></i>Level: <strong>{{ task.exp_level.capitalize }}</strong></li>
                                            <li><i class="icon-material-outline-folder"></i>Type: <strong>{{ task.project_type.capitalize }}</strong></li>
                                            {% if not task.is_hourly_task %}<li><i class="icon-line-awesome-hourglass-half"></i>Days: <strong>{{ task.no_of_days }}</strong></li>{% endif %}
                                            <li><i class="icon-material-outline-access-time"></i> {{ task.created_at|timesince }} ago</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Apply Button -->
                                <span class="list-apply-button ripple-effect">Apply Now</span>
                            </div>
                        </a>
                            {% endfor %}
                        </div>
                            <!-- Jobs Container / End -->
                        {% else %}
                            <div class="margin-top-10 margin-bottom-10" style="text-align: center">
                                <span>Currently no Jobs is available.</span>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Jobs / End -->



    <!-- Highest Rated Freelancers -->
    <div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">
                    <!-- Section Headline -->
                    <div class="section-headline margin-top-0 margin-bottom-25">
                        <h3>Highest Rated Freelancers</h3>
                        <a href="{% url 'find_freelancer' %}" class="headline-link">Browse All Freelancers</a>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="default-slick-carousel freelancers-container freelancers-grid-layout">

                        {% if freelancers %}
                            {% for freelancer in freelancers %}
                                <!--Freelancer -->
                                <div class="freelancer">

                                    <!-- Overview -->
                                    <div class="freelancer-overview">
                                        <div class="freelancer-overview-inner">

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="{% url 'freelancer_profile' freelancer.id %}">
                                                {% thumbnail freelancer.user.profileImg "x80" as im %}
                                                    <img src="{{ im.url }}" alt="" style="height: 118px">
                                                {% empty %}
                                                     <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" style="height: 118px">
                                                {% endthumbnail %}
                                            {% comment %}
                                                {% if freelancer.user.profileImg %}
                                                <img src="{{ freelancer.user.profileImg.url }}" alt="" style="height: 118px">
                                            {% else %}
                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" style="height: 118px">
                                            {% endif %}
                                            {% endcomment %}
                                            </a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="{% url 'freelancer_profile' freelancer.id %}">{{ freelancer.user.first_name }} {{ freelancer.user.last_name }}</a>
                                            </h4>
                                        <span>{{ freelancer.tags }}</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="{{ freelancer.calculate_rating }}"></div>
                                        </div>
                                    </div>
                                    </div>

                                <!-- Details -->
                                    <div class="freelancer-details">
                                        <div class="freelancer-details-list">
                                            <ul>
                                                <li>Location <strong><i class="icon-material-outline-location-on"></i>
                                                    {{freelancer.country}}</strong></li>
                                                <li>Rate <strong>${{ freelancer.rate }} / hr</strong></li>
                                                <li>Job Success <strong>{{ freelancer.calculate_success_rate}}%</strong></li>
                                            </ul>
                                        </div>
                                        <a href="{% url 'freelancer_profile' freelancer.id %}"
                                           class="button button-sliding-icon ripple-effect">View Profile <i
                                                class="icon-material-outline-arrow-right-alt"></i></a>
                                    </div>
                                </div>
                                        <!-- Freelancer / End -->
                            {% endfor %}
                        {% else %}
                            <div class="margin-top-10 margin-bottom-10" style="text-align: center">
                                <span> Currently No freelancer is available. </span>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Highest Rated Freelancers / End-->


{% endblock content %}

{% block scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            const availableTags = [
                "Angular", "React", "Vue", "CSS", "Html", "Bootstrap", "JavaScript", "C#", "C++","Java",
                "Python", "Php", "Ruby", "Objective-C", "Swift", "Logo Design","Game Design","PhotoShop Editing",
                "Banner Ads","Business Card"];

            $("#search-job").autocomplete({
               source: availableTags,
            });
        });
    </script>

{% endblock %}