{% extends 'common/_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %} Messages | {% endblock %}

{% block dashboard_content %}
     <!-- Dashboard Content data-simplebar -->
    <div class="dashboard-content-container">
       <div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Messages </h3>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						 {% if request.user.is_Employer %}
                            <li><a href="{% url 'emp_dashboard' %}">Dashboard</a></li>
                            {% else %}
                            <li><a href="{% url 'freelancer_dashboard' %}">Dashboard</a></li>
                        {% endif %}
						<li>Messages</li>
					</ul>
				</nav>

			</div>

				<div class="messages-container">
					<div class="messages-container-inner">
						<div class="messages-inbox data-simplebar">
						    <!-- Messages Search Area -->
							<div class="messages-headline">
								<div class="input-with-icon">
										<input id="autocomplete-input" type="text" placeholder="Search">
									<i class="icon-material-outline-search"></i>
								</div>
							</div>

                            {% if messages %}
							  <ul>
								{% for message in messages %}

                                    {% if message.sender == request.user %}
                                        <li class="{% if message.receiver.id|stringformat:"s"  in request.path %}active-message{% endif %}">
									        <a href="{% url 'message_details' message.receiver.id %}" class="js-detail-message-chat">
										    <div class="message-avatar"><i class="status-icon status-online"></i>
                                            {% if message.receiver.profileImg %}
                                                <img src="{{ message.receiver.profileImg.url }}" alt="" />
                                            {% else %}
                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" />
                                            {% endif %}
                                            </div>
										    <div class="message-by">
											    <div class="message-by-headline">
												    <h5>{{message.receiver.first_name}} {{ message.receiver.last_name }}</h5>
												    <span>{{ message.created_at|timesince }} ago</span>
											    </div>
											    <p>{{message.message_content}}</p>
										    </div>
									        </a>
								        </li>

                                    {% else %}

                                        <li class="{% if message.sender.id|stringformat:"s"  in request.path %}active-message{% endif %}">
                                            <a href="{% url 'message_details' message.sender.id %}">
										    <div class="message-avatar"><i class="status-icon status-online"></i>
                                            {% if message.sender.profileImg %}
                                                <img src="{{ message.sender.profileImg.url }}" alt="" />
                                            {% else %}
                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" />
                                            {% endif %}
                                            </div>
										    <div class="message-by">
											    <div class="message-by-headline">
												    <h5>{{message.sender.first_name}} {{ message.sender.last_name }}</h5>
												    <span>{{ message.created_at|timesince }} ago</span>
											    </div>
											    <p>{{message.message_content}}</p>
										    </div>
									        </a>
								        </li>
                                    {% endif %}

								{% endfor %}
							</ul>
                            {% else %}
                                <div class="margin-bottom-10 margin-top-10" style="text-align: center">
                                    <span>No messages found. </span>
                                </div>
                            {% endif %}
						</div>
						<!-- Messages / End -->

						<!-- Message Content -->
						<div class="message-content">

							<div class="messages-headline">
                                {% if message_details %}
								<h4>{{ full_name }}</h4>
								    <a href="#small-dialog" class="message-action popup-with-zoom-anim"><i class="icon-feather-trash-2"></i> Delete Conversation</a>
                                {% endif %}
							</div>

							<!-- Message Content Inner -->
							<div id="message_content_div" class="message-content-inner">

                                {% if message_details %}
                                    <!-- Time Sign -->
                                    <div class="message-time-sign">
                                        <span>{{ message_details.0.created_at|naturalday }}</span>
                                    </div>

                                     {% for detail in message_details %}
                                        {% if detail.sender != request.user %}
                                            <div class="message-bubble">
										<div class="message-bubble-inner">
											<div class="message-avatar">
                                                {% if detail.sender.profileImg %}
                                                    <img src="{{ detail.sender.profileImg.url }}" alt="" />
                                                {% else %}
                                                    <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                {% endif %}
                                            </div>
											<div class="message-text"><p>{{ detail.message_content }}</p></div>
										</div>
										<div class="clearfix"></div>
									</div>
                                        {% else %}
        									<div class="message-bubble me">
										<div class="message-bubble-inner">
											<div class="message-avatar">
                                                {% if detail.sender.profileImg %}
                                                    <img src="{{ detail.sender.profileImg.url }}" alt="" />
                                                {% else %}
                                                    <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                {% endif %}
                                            </div>
											<div class="message-text"><p>{{ detail.message_content }}</p></div>
										</div>
										<div class="clearfix"></div>
									</div>
                                        {% endif %}

                                            <!-- for display date -->
                                         {% with next_element=message_details|next_message:forloop.counter0  %}
                                            <!-- check if next element is not null -->
                                            {% if next_element.created_at %}
                                             {% ifnotequal detail.created_at|date:"Ymd"  next_element.created_at|date:"Ymd" %}
                                                 <div class="message-time-sign">
                                                    <span>{{ next_element.created_at|naturalday }}</span>
                                                </div>
                                            {% endifnotequal %}
                                             {% endif %}
                                         {% endwith %}
                                            <!-- End Display Date -->

                                     {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Message Content Inner / End -->

                           <!-- Reply Area -->
                            {% if message_details %}
                                <form id="send-message-form" method="post" action="{% url 'messages' %}">
                                    <div class="message-reply yellow">
                                        {% csrf_token %}
                                        <textarea name="message_content" cols="1" rows="1" placeholder="Your Message" data-autoresize></textarea>
                                        <button type="submit" class="button ripple-effect">Send</button>
                                    </div>
                                </form>
                            {% endif %}

                        </div>
                        <!-- Message Content -->
                    </div>
                </div>
                <!--Messages Container / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->
		</div>
    </div>
    <!-- Dashboard Content / End -->


    <!-- Delete Offer popup -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
        <div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab" id="popup-tabs" >Delete Conversation</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
                    <p>Are you sure you want to delete this conversations.</p>
				</div>

                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center">
                        <!-- Button -->
                        <a class="button gray ripple-effect-dark cancel-popup">Cancel</a>
                    </div>

                    <div class="col-lg-4" style="text-align: center">
                        <!-- Button -->
                        <a href="javascript:" data-url="{% url 'messages_delete' %}" id="delete-conversation-popup" class="button ripple-effect " style="background-color: #de5959">Delete</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
    </div>
    <!-- Delete Offer Popup / End -->

{% endblock %}