{% extends 'common/_dashboard.html' %}
{% load static %}

{% block title %} Messages | {% endblock %}

{% block dashboard_content %}
     <!-- Dashboard Content data-simplebar -->
    <div class="dashboard-content-container">
       <div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Messages </h3>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						 {% if request.user.is_Employer %}
                            <li><a href="{% url 'emp_dashboard' %}">Dashboard</a></li>
                            {% else %}
                            <li><a href="{% url 'freelancer_dashboard' %}">Dashboard</a></li>
                        {% endif %}
						<li>Messages</li>
					</ul>
				</nav>

			</div>

				<div class="messages-container margin-top-0">
					<div class="messages-container-inner">
						<div class="messages-inbox">
						    <!-- Messages Search Area -->
							<div class="messages-headline">
								<div class="input-with-icon">
										<input id="autocomplete-input" type="text" placeholder="Search">
									<i class="icon-material-outline-search"></i>
								</div>
							</div>

                            {% if messages|length > 0 %}
							  <ul>
								{% for message in messages %}

                                    {% if message.sender == request.user %}
                                        <li class="{% if message.receiver.id|stringformat:"s"  in request.path %}active-message{% endif %}">
									        <a href="{% url 'message_details' message.receiver.id %}">
										    <div class="message-avatar"><i class="status-icon status-online"></i>
                                            {% if message.receiver.profileImg %}
                                                <img src="{{ message.receiver.profileImg.url }}" alt="" />
                                            {% else %}
                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" />
                                            {% endif %}
                                            </div>
										    <div class="message-by">
											    <div class="message-by-headline">
												    <h5>{{message.receiver.first_name}} {{ message.receiver.last_name }}</h5>
												    <span>{{ message.created_at|timesince }} ago</span>
											    </div>
											    <p>{{message.message_content}}</p>
										    </div>
									        </a>
								        </li>

                                    {% else %}

                                        <li class="{% if message.sender.id|stringformat:"s"  in request.path %}active-message{% endif %}">
                                            <a href="{% url 'message_details' message.sender.id %}">
										    <div class="message-avatar"><i class="status-icon status-online"></i>
                                            {% if message.sender.profileImg %}
                                                <img src="{{ message.sender.profileImg.url }}" alt="" />
                                            {% else %}
                                                <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="" />
                                            {% endif %}
                                            </div>
										    <div class="message-by">
											    <div class="message-by-headline">
												    <h5>{{message.sender.first_name}} {{ message.sender.last_name }}</h5>
												    <span>{{ message.created_at|timesince }} ago</span>
											    </div>
											    <p>{{message.message_content}}</p>
										    </div>
									        </a>
								        </li>
                                    {% endif %}

								{% endfor %}
							</ul>
                            {% else %}
                                <div class="margin-bottom-10 margin-top-10" style="text-align: center">
                                    <span>There are no messages. {{ messages|length }}</span>
                                </div>
                            {% endif %}
						</div>
						<!-- Messages / End -->

						<!-- Message Content -->
						<div class="message-content">

							<div class="messages-headline">
								<h4>{{ full_name }}</h4>
								<a href="#" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversation</a>
							</div>

							<!-- Message Content Inner -->
							<div class="message-content-inner">

                                {% if message_details %}
                                    <!-- TODO: display date like in facebook -->
                                    <!-- Time Sign -->
                                    <div class="message-time-sign">
                                        <span>{{ message_details.0.created_at|date }}</span>
                                    </div>

                                     {% for detail in message_details %}
                                        {% if detail.sender != request.user %}
                                            <div class="message-bubble">
										<div class="message-bubble-inner">
											<div class="message-avatar">
                                                {% if detail.sender.profileImg %}
                                                    <img src="{{ detail.sender.profileImg.url }}" alt="" />
                                                {% else %}
                                                    <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                {% endif %}
                                            </div>
											<div class="message-text"><p>{{ detail.message_content }}</p></div>
										</div>
										<div class="clearfix"></div>
									</div>
                                        {% else %}
        									<div class="message-bubble me">
										<div class="message-bubble-inner">
											<div class="message-avatar">
                                                {% if detail.sender.profileImg %}
                                                    <img src="{{ detail.sender.profileImg.url }}" alt="" />
                                                {% else %}
                                                    <img src="{% static 'images/user-avatar-placeholder.png' %}" alt="">
                                                {% endif %}
                                            </div>
											<div class="message-text"><p>{{ detail.message_content }}</p></div>
										</div>
										<div class="clearfix"></div>
									</div>
                                        {% endif %}
                                     {% endfor %}
                                {% else %}
{#                                    <div class="margin-bottom-10 margin-top-10" style="text-align: center;">#}
{#                                        <span>There are no messages.</span>#}
{#                                    </div>#}
                                {% endif %}

                            </div>
                            <!-- Message Content Inner / End -->

                           <!-- Reply Area -->
                            <div class="message-reply yellow">
                                <textarea name="messageTxt" cols="1" rows="1" placeholder="Your Message" data-autoresize></textarea>
                                <button class="button ripple-effect">Send</button>
                            </div>
                        </div>
                        <!-- Message Content -->
                    </div>
                </div>
                <!--Messages Container / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->
		</div>
    </div>
    <!-- Dashboard Content / End -->

{% endblock %}