{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <!-- Titlebar -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Forget password</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Forgot password</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-3">

                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Forgot your password?</h3>
                        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                    </div>

                    <!-- Form -->
                    <form method="post" id="password-reset-form">
                        {% csrf_token %}
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            {% render_field form.email|attr:"autofocus" class="input-text with-border" placeholder="Email Address" %}
                            {% if form.email.errors %}
                                <div class="alert alert-danger"><strong>{{ form.email.errors.0 }}</strong></div>
                            {% endif %}
                        </div>
                    </form>

                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit"
                            form="password-reset-form">Reset my password <i
                            class="icon-material-outline-arrow-right-alt"></i></button>
                </div>
            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->
{% endblock %}
