{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <!-- Titlebar -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>New password</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>New password</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-3">

                <div class="login-register-page">
                    <!-- Welcome Text -->
                    {% if validlink %}
                        <div class="welcome-text">
                            <h3>Enter new password</h3>
                            <p>please enter your new password twice so we can verify you typed it in correctly.</p>
                        </div>
                        <!-- Form -->
                        <form method="post" id="password-reset_confirm_form">
                            {% csrf_token %}
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                {% render_field form.new_password1|attr:"autofocus" class="input-text with-border" placeholder="New password" %}
                                {% if form.new_password1.errors %}
                                    <div class="alert alert-danger"><strong>{{ form.new_password1.errors.0 }}</strong></div>
                                {% endif %}
                            </div>

                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                {% render_field form.new_password2|attr:"autofocus" class="input-text with-border" placeholder="Confirm password" %}
                                {% if form.new_password2.errors %}
                                    <div class="alert alert-danger"><strong>{{ form.new_password2.errors.0 }}</strong></div>
                                {% endif %}
                            </div>
                        </form>

                        <!-- Button -->
                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit"
                                form="password-reset_confirm_form">Change my password<i
                                class="icon-material-outline-arrow-right-alt"></i></button>
                    {% else %}
                        <div class="welcome-text">
                            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->
{% endblock %}
