{% extends 'base.html' %}

{% block content %}
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="margin-bottom: 1rem;">Password reset sent</h3>
                    <p style="margin-bottom: 0rem;">
                        We've emailed you instructions for setting your password, if an account exists with the email
                        you entered.You should receive them shortly.
                    </p>
                    <p style="margin-bottom: 0rem;">
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}