{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}


{% block title %} Settings | {% endblock %}

{% block content %}

    <!-- Dashboard Content -->

    <div class="setting-container">

        <!-- Dashboard Content -->
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Settings</h3>
                <!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% if request.user.is_Employer  %}
						    {% url 'emp_dashboard' %}
						{% else %}
						    {% url 'freelancer_dashboard' %}
						  {% endif %}">Dashboard</a></li>
						<li>Settings</li>
					</ul>
				</nav>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- My Account Setting -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">
                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                        </div>

                        <div class="text-danger" style="{text-align: center}">
                            <strong id="setting-change-error" class="form-error"></strong>
                        </div>

                        <div class="content with-padding padding-bottom-0 js-account-setting-div">
                            {% include 'Hireo/include/partial_account_setting.html' %}
                        </div>
                    </div>
                </div>

                {% if user.is_Freelancer %}
                    <!-- FreeLancer Profile -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> My Profile</h3>
                            </div>

                            <div class="content">
                                <form id="profileForm" action="{% url 'update-profile' %}" method="post">
                                    {% csrf_token %}

                                    <ul class="fields-ul">
                                        <li>
                                            <div class="row">

                                                <!-- Minimal Rate -->
                                                <div class="col-xl-4">
                                                    <div class="submit-field">
                                                        <div class="bidding-widget">
                                                            <!-- Headline -->
                                                            <span class="bidding-detail">Set your <strong>minimal hourly rate</strong></span>

                                                            <!-- Slider -->
                                                            <div class="bidding-value margin-bottom-10">$<span
                                                                    id="biddingVal"></span></div>
                                                            <input class="bidding-slider" name="rate" type="text"
                                                                   data-slider-handle="custom" data-slider-currency="$"
                                                                   data-slider-min="5" data-slider-max="200"
                                                                   data-slider-value="{{ user.profile.rate }}" data-slider-step="1"
                                                                   data-slider-tooltip="hide"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Skills -->
                                                <div class="col-xl-4">
                                                    <div class="submit-field">
                                                        <h5>Skills <i class="help-icon" data-tippy-placement="right"
                                                                      title="Add up to 5 skills"></i></h5>

                                                        <!-- Skills List -->
                                                        <div class="keywords-container margin-top-10">
                                                            <div class="keyword-input-container">
                                                                <select class="selectpicker" name="skills" multiple
                                                                        title="Choose the skills...."
                                                                        data-max-options="5" data-live-search="true">
                                                                    <optgroup label="Web Dev">
                                                                        <option>Angular</option>
                                                                        <option>React</option>
                                                                        <option>Vue</option>
                                                                        <option>Bootstrap</option>
                                                                        <option>CSS</option>
                                                                        <option>Html</option>
                                                                        <option>JavaScript</option>
                                                                        <option>Wordpress</option>
                                                                    </optgroup>
                                                                    <optgroup label="Software Dev">
                                                                        <option>C#</option>
                                                                        <option>C++</option>
                                                                        <option>Java</option>
                                                                        <option>Python</option>
                                                                        <option>Php</option>
                                                                        <option>Ruby</option>
                                                                        <option>Objective-C</option>
                                                                        <option>Swift</option>
                                                                    </optgroup>
                                                                    <optgroup label="Graphic & Design">
                                                                        <option>Logo Design</option>
                                                                        <option>Game Design</option>
                                                                        <option>PhotoShop Editing</option>
                                                                        <option>Banner Ads</option>
                                                                        <option>Business Card</option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Attachments -->
                                                <div class="col-xl-4">
                                                    <div class="submit-field">
                                                        <h5>Attachments</h5>

                                                        <!-- Attachments -->
                                                        <div class="attachments-container margin-top-0 margin-bottom-0">
                                                            <div id="attachmentBox" class="attachment-box ripple-effect"
                                                                 style="display: none">
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <!-- Upload Button -->
                                                        <div class="uploadButton margin-top-0">
                                                            <input class="uploadButton-input" name="userCV" type="file"
                                                                   accept=".doc, .docx, application/pdf" id="upload" />
                                                            <label class="uploadButton-button ripple-effect" for="upload">
                                                                   Upload File
                                                            </label>
                                                            <span id="uploadFileName" class="uploadButton-file-name">Maximum file size: 10 MB</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="row">
                                                <!-- TagLine -->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Tagline
                                                            <i class="help-icon" data-tippy-placement="right"
                                                               title="Separate Tag with '+' sign like (iOS Expert + Node Dev)"></i></h5>
                                                        <input type="text" name="tags" value="{{ user.profile.tags }}" class="with-border">
                                                    </div>
                                                </div>

                                                <!-- Country -->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <h5>Nationality</h5>
                                                        <select id="country" name="country" class="selectpicker with-border" data-size="7"
                                                                title="Select Country" data-live-search="true">
                                                            <option>Australia</option>
                                                            <option >Belgium</option>
                                                            <option >Brazil</option>
                                                            <option>Canada</option>
                                                            <option>Colombia</option>
                                                            <option>Cyprus</option>
                                                            <option>Denmark</option>
                                                            <option>Egypt</option>
                                                            <option>Hong Kong</option>
                                                            <option>Iceland</option>
                                                            <option>India</option>
                                                            <option>Norway</option>
                                                            <option>Pakistan</option>
                                                            <option>Panama</option>
                                                            <option>Poland</option>
                                                            <option>Portugal</option>
                                                            <option>Qatar</option>
                                                            <option>Russia</option>
                                                            <option>Turkey</option>
                                                            <option>UK</option>
                                                            <option >USA</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- Introduction -->
                                                <div class="col-xl-12">
                                                    <div class="submit-field">
                                                        <h5>Introduce Yourself</h5>
                                                        <textarea name="introduction"  cols="30" rows="5" class="with-border">{{ user.profile.introduction }}</textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>

                                        <li>
                                            <!-- Save Button -->
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <button type="submit" class="button ripple-effect big float-right margin-bottom-20">
                                                        <span hidden class="spinner-border spinner-border-sm mr-2 margin-bottom-3 js-profile-change-loading-spinner" role="status" aria-hidden="true"></span>
                                                        Save Profile
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- Change Password -->
                <div class="col-xl-12">
                    <div class="dashboard-box">
                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
                        </div>
                        <div class="content with-padding">
                            <form action="{% url 'change-password' %}" method="post" id="changePasswordForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Current Password</h5>
                                            <input type="password" name="old_password" placeholder="Current Password"
                                                   class="with-border" required>
                                            <div id="old_password-error" class="alert alert-danger"
                                                 style="display: none">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>New Password</h5>
                                            <input type="password" name="new_password1" class="with-border"
                                                   placeholder="New Password" required>
                                            <div id="new_password-error" class="alert alert-danger"
                                                 style="display: none">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Repeat New Password</h5>
                                            <input type="password" name="new_password2" class="with-border"
                                                   placeholder="Repeat Password" required>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <button type="submit" class="button ripple-effect big float-right">
                                                <span hidden class="spinner-border spinner-border-sm mr-2 margin-bottom-3 js-password-change-loading-spinner" role="status" aria-hidden="true"></span>
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="text-danger" style="text-align: center;">
                                <strong id="password-change-error" class="form-error"></strong>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->

            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->
        </div>
        <!-- Dashboard Content / End -->


    </div>


{% endblock %}